In [3]:
import pandas as pd
import random

In [4]:
data = {
    'Player': ['John', 'Mike', 'David', 'Paul', 'Mark', 'Luke', 'Tom', 'Steve', 'Chris', 'Eric'],
    'Height (cm)': [190, 185, 180, 195, 175, 182, 187, 193, 200, 178]
}

df = pd.DataFrame(data)

In [7]:
sample_size = 3
sampling_interval = 2

In [8]:
ration = len(df) / sample_size

In [13]:
start_index = random.randint(0, sampling_interval)

In [14]:
start_index

2

In [15]:
indices = list(range(start_index, len(df), sampling_interval))

In [16]:
indices

[2, 4, 6, 8]

In [17]:
systematic_sample_df = df.iloc[indices]

In [18]:
systematic_sample_df

  Player  Height (cm)
2  David          180
4   Mark          175
6    Tom          187
8  Chris          200